:root{
    --gray: #3D3B40;
    --darkblue: #525CEB;
    --lightblue:#BFCFE7;
}
body{
   margin: 0;
   padding: 0;
   background-color: var(--lightblue);
   display: flex;
   justify-content: center;
   align-items: center;
}
h1{
    margin-left: 10px ;
}
header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--gray);
    color: #fff;
    
}
button{
    background-color: transparent;
    border: 2px solid white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
    padding: 5px;
    font-weight: 700;
    color: azure;
}
button:hover{
    border:2px solid orangered ;
    color: orangered;
}
footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color:var(--gray);
    color: #fff;
    text-align: center;
    padding: 10px;
}

main{
    
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

