:root{
    --gray: #3D3B40;
    --darkblue: #525CEB;
    --lightblue:#BFCFE7;
}
body{
     background-image: url('/images/map-background.png');
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: var(--lightblue);
    width: 100%;
    height: 100%;
    
}
h1{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
main{
  
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{

    width: fit-content;
    height: auto;
    padding: 20px;
    background-color: var(--gray);
    border-radius:20px;
    box-shadow: 3px 3px 7px 7px rgba(170, 167, 167, 0.6);
    color: azure;
    margin-bottom: 30px;
}
#map{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 700px;
    background-color: #c2d7f6;
    box-shadow: 3px 3px 7px 7px rgba(170, 167, 167, 0.6);
}
input{
    outline: none;
    border: none;
    background-color:transparent;
    border-bottom: 2px solid azure;
    color: azure;
    padding: 3px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
input:placeholder-shown{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    font-weight: 600;
}
button{
    margin-left: 20px;
    border:2px solid azure;
    border-radius: 7px;
    background-color:transparent;
    color: azure;
    font-size: 17px;
    font-weight:bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    height: 30px;
    width: fit-content;
    padding:5px;
    letter-spacing: 2px;
}
button:hover{
    background-color: var(--darkblue);
    transform: translateY(2px);
}
#weatherInfo{
    color: red;
    font-family:'Courier New', Courier, monospace;
}