<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Debugging Challenge - Task 1</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <h1>Welcome to Bug Buster Battle Final Challenge</h1>
    </header>
    
    <main>
       
    </main>
    <footer>
        <p>&copy; Website Debugging Challenge</p>
        <a href="/login">
        <button>Click here for second task &gt&gt&gt</button>
        </a>
    </footer>
</body>
</html>
