<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2</title>
    
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <main>
        <form id="loginForm">
            <div class="login-wording">LOGIN</div>
            <br>
            <div class="usercont">
                <input type="text" id="username" name="name" placeholder="Username" required> 
            </div>
            <br>
            <div class="passcont">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <br>
            <div class="buttoncont">
              
                <button class="login-btn" id="loginButton" type="button">LOGIN</button>
            </div>
            <br>
            <div class="signup">Go to next Task <a id="signup" href="/weather"> Next Task </a></div>
        </form>
    </main>
    <script src="auth.js"></script>
</body>
</html>
