<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App -Task 3</title>
    <link rel="stylesheet" href="/styles/weather.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>
    <h1>Weather App</h1>
    <main>
        <div class="container">
            <form id="weatherForm">
                <input type="text" id="cityName" name="cityName" placeholder="Enter a location" required>
                <button type="submit">Get Weather</button>
            </form>
            <div id="weatherInfo"></div>
        </div>
        <div id="map"></div>
    </main>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        
        var map = null;

        document.getElementById('weatherForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const cityName = document.getElementById('cityName').value;

            const response = await fetch('/getweather', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cityName })
            });

            const Data = await response.json();
            console.log(data);

            const weatherInfoDiv = document.getElementById('weatherInfo');
            weatherInfoDiv.innerHTML = `<h2>Weather in ${data.location.name}, ${data.location.country}</h2>
                                         <p>Temperature: ${data.current.temp_c}°C</p>
                                         <p>Condition: ${data.current.condition.text}</p>`;

           
            if (map) {
                console.log("Map is already initialized");
            } else {
             
                map = L.map('map').setView([data.location.lat, data.location.lon], 10);

              
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);
            }

            
            L.marker([data.location.lat, data.location.lon]).addTo(map)
                .bindPopup(`<b>Weather in ${data.location.name}</b><br>Temperature: ${data.current.temp_c}°C<br>Condition: ${data.current.condition.text}`).openPopup();
        });
    </script>
</body>
</html>
